/* STRUCTURE */

*
{
	/* debug */
	/*border: 1px solid black;*/
}

*
{
	/* Let me decide when I want margin or padding. I'm a grown up. */
	margin: 0;
	padding: 0;
}

html
{
	scroll-behavior: smooth;
	
	min-height: 100%;
	font-family: 'Roboto', 'Arial', 'Segoe UI', sans-serif;
}

body
{
	min-height: 100%;

	/*display: grid;*/
	/*grid-template-rows: auto; */
}

p
{
	line-height: 1.5em;
}


header
{
	display: grid;
	grid-template-columns: 30% auto;

	overflow: hidden;

	font-size: 2.5em;

	padding: 1em 70pt;

	user-select: none;
}

nav
{
	margin: 0;
	padding: 0;

	text-align: right;
}

nav ul
{
	/*list-style-type: none;*/
	font-size: 0.6em;

	display: inline-block;
	justify-content: flex-start;
}

nav ul li
{
	display: inline-block;

	text-transform: uppercase;

	text-align: center;
	padding: 0.5em 1em;

	/*background: rgba(255,255,255,0.2);*/
}

nav ul li:hover
{

	cursor: pointer;
}

/* BELOW HEADER */

main
{
	padding: 70pt;
	padding-bottom: 0;
}

footer
{
	padding: 40pt;
}

footer a
{
	vertical-align: top;
}

main>div
{
	padding: 2em;
	margin-bottom: 70pt;
	overflow: auto;
}

h1, h2
{
	font-weight: 500;
}

h3
{
	margin-top: 0.6em;
}

main div h2
{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 1.8em;

	/*text-transform: uppercase;*/

	margin: 0 0 6pt 0;
}

main>div h1
{
	margin-bottom: 0.3em;
	width: 100%;
}

ul
{
	padding-left: 2em;
}

footer
{
	text-align: center;
}

.grid-container
{
	margin: auto;

	width: 90%;
	text-align: center;
}

.grid-item
{
	font-weight: 600;

	display: inline-block;
	box-sizing: border-box;
	padding: 1em;

	height: 200px;
	width:  200px;
	margin: 0.5em;

	background-color: rgba(0,0,0,0.1);
}

#contact-form
{
	display: block;
	height: 0px;

			transition: height 0.5s ease-out;
	   -moz-transition: height 0.5s ease-out;
		 -o-transition: height 0.5s ease-out;
	-webkit-transition: height 0.5s ease-out;

	overflow: hidden;
}

.dropdown
{
	height: 800px !important;
}




/* ******************************************************* */
/*                        RESPONSIVE                       */
/* ******************************************************* */

@media only screen and (min-width: 650px) /* above 650px */
{
	.spacer1
	{
		display:inline-block;
		width:50pt;
	}
	.spacer2
	{
		display:inline-block;
		width:8em;
	}
}

/* Affichage petite tablette */

@media only screen and (max-width: 1200px)
{
	header
	{
		display: grid;
		grid-template-columns: 50% 50%;
	}	

	.spacer1
	{
		display: inline-block;
		width: 30pt;
	}

	header
	{
		grid-template-columns: 1fr;
		grid-template-rows: 33% 66%;

		padding: 1em 30pt;
	}
	nav ul
	{
		display: block;
	}
	nav ul li
	{
		padding: 0.4em;
	}

	/* BELOW HEADER */

	main, footer
	{
		padding: 1.5em;
	}

	main
	{
		padding-bottom: 0;
	}

	main>div
	{
		text-align: center;

		padding: 1.5em;
		margin-bottom: 20pt;

		overflow-y: scroll;
		overflow-x: hidden;
	}

}